<style type="text/css">
    img{
        padding-right:40px;
    }
</style>
@{
    ViewBag.Title = "Gioithieu";
    Layout = "~/Views/Shared/_UserNoiThat.cshtml";
}

<div class="about-section">
    <div class="inner-section">
        <h1>Giới thiệu</h1><hr>
        <ul>
            <li>
                <h4>Luôn đem đến giá trị đích thực cho ngôi nhà của bạn</h4>
                <p>Là phương châm hoạt động của DoubleP Home đến với chúng tôi, bạn sẽ cảm thấy thật sự hài lòng khi được phục vụ bởi đội ngũ Kiến trúc sư - Họa sĩ xuất sắc giàu kinh nghiệm trong lĩnh vực tư vấn thiết kế kiến trúc và nội thất. Sao Việt chuyên thiết kế và thi công nội ngoại thất: thiết kế nội thất chung cư, biệt thự, nhà lô phố, nhà hàng, khách sạn, nội thất văn phòng, showroom, quán Cafe,...Với các không gian được thiết kế tuân thủ nghiêm ngặt theo quy luật phong thủy...</p>
            </li>
        </ul>
        <br>
        <ul>
            <li>
                <h4>DoubleP Home – Modern Life & Home</h4>
                <img src="~/Images/gioithieu/modern life.png" width="100%" />
            </li>
        </ul>
        <br>
        <ul>
            <li>
                <h4>An toàn cho sức khỏe</h4>
                <p>Đạt chứng nhận giảm phát thải Formaldehyde – CARB P2, đảm bảo gỗ không độc hại</p>
                <img src="~/Images/gioithieu/chung nhan an toan.png" width="100%" />
            </li>
        </ul>
        <br>
        <ul>
            <li>
                <h4>Chất lượng chuẩn quốc tế</h4>
                <p>Sản xuất trực tiếp tại nhà máy Savimex rộng 10ha với công nghệ hiện đại cùng đội ngũ thợ tay nghề cao.</p>
                <img src="~/Images/gioithieu/chung nhan quoc te.png" width="100%" />
            </li>
        </ul>
        <br>
        <ul>
            <li>
                <h4>Nội thất DoubleP Home – Tinh tê trong từng đường nét</h4>
                <p>Chúng tôi tạo ra không gian sống tuyệt vời nhất, nơi chúng tôi gọi là “Nhà”</p>
                <img src="~/Images/gioithieu/giam doc thiet ke.png" width="100%" />
            </li>
        </ul>
        <br>
        <ul>
            <li>
                <h4>Showroom DoubleP Home – Hiện đại đẳng cấp</h4>
                <p>Tọa lạc tại địa chỉ số…… ới thiết kế độc đáo, ấn tượng. Showroom nổi bật với lối kiến trúc không gian mở hiện đại, các sản phẩm nội thất được bố trí theo từng không gian và phong cách nội thất  mang đến trải nghiệm mua sắm tuyệt hảo cho khách hàng. </p>
                <img src="~/Images/gioithieu/hinh showroom.png" width="100%" />
            </li>
        </ul>
    </div>
</div>
 

