
@{
    ViewBag.Title = "Trangchu";
    Layout = "~/Views/Shared/_UserNoiThat.cshtml";
}

<div id="slides" class="carousel slides" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#slides" data-slide-to="0" class="active"></li>
        <li data-target="#slides" data-slide-to="1" c></li>
        <li data-target="#slides" data-slide-to="2"></li>
        <li data-target="#slides" data-slide-to="3"></li>
        <li data-target="#slides" data-slide-to="4"></li>
        <li data-target="#slides" data-slide-to="5"></li>
    </ul>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/Images/1.jpg">
        </div>
        <div class="carousel-item ">
            <img src="~/Images/2.jpg">
        </div>
        <div class="carousel-item ">
            <img src="~/Images/3.jpg">
        </div>
        <div class="carousel-item ">
            <img src="~/Images/4.jpg">
        </div>
        <div class="carousel-item ">
            <img src="~/Images/5.jpg">
        </div>
        <div class="carousel-item ">
            <img src="~/Images/6.jpg">
        </div>
    </div>
</div>
<!--Carol-->
<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <h1 class="display-4">Giới thiệu DoubleP Home</h1>
        </div>
        <!-- Horizontal Rule -->
        <hr>
        <div class="col-12">
            <p>Chào mứng đến với nội thất DoubleP Home</p>
        </div>
    </div>
</div>
<div class="container-fluid padding">
    <div class="row text-center padding">
        <div class="col-xs-12 col-sm-6 col-md-4 ">
            <img src="~/Images/Trangchu/white.jpg">
            <h3>White style</h3>
            <p>Phong cách không gian màu trắng hiện đại</p>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-4">
            <img src="~/Images/Trangchu/nature.jpg">
            <h3>Natural style</h3>
            <p>Phong cách cảm xúc chạm vào thiên nhiên</p>
        </div>
        <div class="col-sm-12 col-md-4">
            <img src="~/Images/Trangchu/modern.jpg">
            <h3>Modern style</h3>
            <p>Phong cách hiện đại như đô thị sang trọng</p>
        </div>
    </div>
    <hr class="my-4">
</div>
<div class="container-fluid padding">
    <div class="row padding">
        <div class="col-md-12 col-lg-6">
            <h2>Sản Phẩm Được Yêu Thích</h2>
            <p>Chúng mình - DoubleP Home luôn tin cây cũng có sự sống như người, DoubleP Home không muốn rừng và cây bị tàn phá. Phương châm của chúng mình chỉ sử dụng những cây gỗ chết tự nhiên, mà chúng mình biết rõ nguồn gốc.</p>
            <p>Do vậy sản phẩm của DoubleP Home là rất chọn lựa, giữ vẹn toàn nét mộc mạc tự nhiên của thân cây, giữ trọn tình yêu của chúng mình với gỗ. Thiên nhiên, luôn mang những vẻ đẹp diệu kỳ mà chỉ cho những ai biết nâng niu nó, trân trọng, yêu quý và biết cảm kích bảo vệ thiên nhiên.</p>
            <br>
        </div>
        <div class="col-lg-6">
            <img src="~/Images/Trangchu/yeuthic.jpg" width="100%" class="img-fluid">
        </div>
    </div>
</div>
<br>

