<style>
    .imgss {
        
        
    }
    .immg{
        width:1920px;
        height:1080px;
    }
</style>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/Admin.cshtml";
}
<div class="imgss">
    <img class="immg" src="~/Images/Nt.jpg" />

</div>

